{% sw_extends '@zenitPlatformSphere/storefront/layout/footer/footer.html.twig' %}

{% block zen_layout_footer_navigation_payment_logos_content %}
	<div id="collapseFooterPaymentLogos" class="footer-column-content collapse js-footer-column-content {{ customShowClass }}" aria-labelledby="collapseFooterPaymentLogosTitle" role="listitem">
		<div class="footer-column-content-inner">
			<div class="footer-logos">
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/c0/52/06/1711634526/payment_app_MolliePaymentsApp_mollie_paypal.png?1711634526" class="img-fluid footer-logo-image" alt="PayPal" title="PayPal" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/0b/91/69/1711634526/payment_app_MolliePaymentsApp_mollie_klarnasliceit.png?1711634526" class="img-fluid footer-logo-image" alt="Klarna" title="Klarna" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/f2/57/80/1711634526/payment_app_MolliePaymentsApp_mollie_applepay.png?1711634526" class="img-fluid footer-logo-image" alt="Apple Pay" title="Apple Pay" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/0b/21/1b/1711634526/payment_app_MolliePaymentsApp_mollie_creditcard.png?1711634526" class="img-fluid footer-logo-image" alt="Kredit-/Debitkarte" title="Kredit-/Debitkarte" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/70/23/82/1711634526/payment_app_MolliePaymentsApp_mollie_giropay.png?1711634526" class="img-fluid footer-logo-image" alt="Giropay" title="Giropay" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/g0/f2/9f/1711634526/payment_app_MolliePaymentsApp_mollie_banktransfer.png?1711634526" class="img-fluid footer-logo-image" alt="Banktransfer" title="Banktransfer" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/57/c8/25/1711634526/payment_app_MolliePaymentsApp_mollie_giftcard.png?1711634526" class="img-fluid footer-logo-image" alt="Geschenkkarte" title="Geschenkkarte" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/27/14/7a/1711634526/payment_app_MolliePaymentsApp_mollie_billie.png?1711634526" class="img-fluid footer-logo-image" alt="Billie" title="Billie" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/f4/36/af/1711634526/payment_app_MolliePaymentsApp_mollie_kbc.png?1711634526" class="img-fluid footer-logo-image" alt="KBC" title="KBC" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/fe/00/5b/1711634526/payment_app_MolliePaymentsApp_mollie_ideal.png?1711634526" class="img-fluid footer-logo-image" alt="iDEAL" title="iDEAL" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/3d/c0/7d/1711634526/payment_app_MolliePaymentsApp_mollie_bancontact.png?1711634526" class="img-fluid footer-logo-image" alt="Bancontact" title="Bancontact" loading="lazy"></div>
				<div class="footer-logo is-payment"><img src="https://candymarkt24.de/media/e5/2a/b1/1711634526/payment_app_MolliePaymentsApp_mollie_eps.png?1711634526" class="img-fluid footer-logo-image" alt="eps" title="eps" loading="lazy"></div>
			</div>
		</div>
	</div>
{% endblock %}
